html{
  /* background-color: rgb(137, 178, 232); */
  background-image: linear-gradient(to right, red , rgb(130, 12, 5));
  background-size: cover;
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
}

body{
  width:100%;
  height:100%;
}


.theatre{
  display: grid;
  grid-template-columns: 55% 35%;
  grid-column-gap: 10%;
  grid-template-rows: auto;
  margin:10% auto;
  text-align: center;
  width:80%;
  grid-template-areas:
  "pic info"
  "pic .";
}

.theatre div{
  border-radius: 20px;
}

.searchbar{
  grid-area: pic;
}

.movieinfo{
  grid-area: info;
  margin-top: 10%;
  font-size: 3vh;
  background-image: linear-gradient(to right, black , rgb(130, 12, 5));
  border: 2px solid black;

}

.actorList{
  list-style: none;
}

.moviedetails{
  grid-area: details
}

.searching{
  font-size: 20px;
  height:30px;
  border-radius: 30px;
}

img{
  width: 100%;
  border-radius: 30px;
}

.moviereel img{
  text-align: center;
  height:70vh;
}

.moviereel{
  width: 90%;
  margin: 0 auto;
}

.reel-image{
  display:grid;
  grid-template: 100% / repeat(3, 1fr);
}

.header{
  width:80%;
  margin: 0 auto;
  height:20vh;
  font-size: 60px;
  text-align: center;
  background-color: rgb(23, 23, 23, .7);
}

.moviePoster{
  height:10%;
  width:100%;
}

.image-slide{
  display: block;
}

.hidden{
  display: none;
}

.carousel{
  width: 80%;
  margin: 0 auto;
}

.carousel div{
  display: inline-grid;
  font-size: 50px;
}

.faded-image{
  opacity: .3;
}

.nonfaded-image img{
  border: 4px solid white;
  border-radius: 40px;
}

.mediumswitch{
  background-color:rgb(162, 6, 6);
  color: rgb(245, 236, 21);
  margin-right: 10%;
  font-size: 30px;
}

.mediumswitch:hover{
  color:white;
}

.switch{
  text-align: center;
  width: 30%;
  margin: 2% auto;
}
