html{
  /* background-color: rgb(137, 178, 232); */
  background-image: linear-gradient(to right, red , rgb(130, 12, 5));
  background-size: cover;
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
}

body{
  width:100%;
  height:100%;
}

iframe{
  border-radius: 10px;
  margin: 10% 30%;
}

.container{
  width:80%;
  margin: 0 auto;
}

.searching{
  background-color: rgb(239, 242, 61);
  color:red;
  font-size: 90vh;
  border: 1px solid white;
  border-radius: 40px;
  width:70%;
}

.submit{
  color: rgb(239, 242, 61);
  background-color: red;
}


.theatre{
  display: grid;
  grid-template-columns: 55% 35%;
  grid-column-gap: 10%;
  grid-template-rows: auto;
  margin:10% auto;
  text-align: center;
  width:80%;
  grid-template-areas:
  "pic info"
  "pic .";
}



.searchbar{
  grid-area: pic;
}

.movieinfo{
  grid-area: info;
  margin-top: 10%;
  font-size: 3vh;
  background-image: linear-gradient(to right, black , rgb(130, 12, 5));
  border: 2px solid black;

}

.actorList{
  list-style: none;
}

.moviedetails{
  grid-area: details
}

.searching{
  font-size: 20px;
  height:30px;
  border-radius: 30px;
}

img{
  width: 100%;
  border-radius: 30px;
}

.moviereel img{
  text-align: center;
  height:70vh;
}

.moviereel{
  width: 90%;
  margin: 0 auto;
}

.reel-image{
  display:grid;
  grid-template: 100% / repeat(3, 1fr);
}

.header{
  width:80%;
  margin: 5% auto;
  height:30vh;
  text-align: center;
  background-color: rgb(23, 23, 23, .7);
  border-radius: 10px;
}

.header h1{
  font-size: 90px;
  margin: 0 auto;
  padding: 5%;
  font-family: 'ZCOOL KuaiLe', cursive;
}

.moviePoster{
  background-image: url('http://pngimg.com/uploads/tv/tv_PNG39263.png');
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  margin-top: 5%;
  height:50vh;
  width:100%;
}

.moviescreen{
  height: 70vh;
}

.moviescreen img{
  height:100%;
  width:100%;
}

.image-slide{
  display: block;
}

.hidden{
  display: none;
}

.carousel{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.carousel div{
  display: inline-grid;
  margin-right:5%;
  font-size: 50px;
}

.faded-image{
  opacity: .3;
}

.nonfaded-image img{
  border: 4px solid white;
  border-radius: 40px;
}

.mediumswitch{
  background-color:rgb(162, 6, 6);
  color: rgb(245, 236, 21);
  margin-right: 10%;
  font-size: 30px;
}

.mediumswitch:hover{
  color:white;
}

.switch{
  text-align: center;
  width: 30%;
  margin: 2% auto;
}

.slide-arrow:hover{
  color:rgb(245, 236, 21);
}

.movie-clock{
  background-image: linear-gradient(to right, red , rgba(210, 45, 65, 0.61));
  color:white;
  width:30%;
  border-radius: 10px;
  border: 2px solid silver;
  font-size: 30px;
  text-align: center;
  margin-left: auto;
}
